<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>

    <add name="conn" connectionString="Data Source=.;Initial Catalog=DOGALCOSMO;Integrated Security=True"/>
  </connectionStrings>
  <appSettings> 
    <add key="DbConn" value="D:\PROJECTS_EX\SocialMedia\HepsiBenimMi\HepsiBenimMi\Data\HepsiBenimMi.db"/>
  </appSettings>
</configuration>